<script type="text/html" id="template-note-selected-context">
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-large delete" href="#"><i class="icon-trash delete"></i></a>
            <a class="btn btn-large edit" href="#"><i class="icon-edit edit"></i></a>
            <a class="btn btn-large tag" href="#"><i class="icon-tag tag"></i></a>
        </div>
        <div class="btn-group dropup">
            <a class="btn btn-large dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-adjust"></i><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="blue">Blue</a></li>
            </ul>
        </div>
    </div>
</script>
